::-webkit-scrollbar{
    width: 8px;
    /* background-color: #7e8681; */
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(45deg, #2d57e2, #005ae0);    border-radius: 4px;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
    url('../fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('../fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




:root {
    --main-bg-product:url('../images/product-bg-mobile.png');
    --main-bg-offer: url('../images/offer-bg.png');
    --main-bg-footer: url('../images/footer-logo.svg');
    --main-bg-color: #fff ;
    --main-text-line: #E7E7E7;
    --main-text-color: #22343D;
    --main-logo-color: url('../images/logo-text.svg');
    --main-bg-dark :url('../images/service-bg.png');
    --main-bg-proces: url('../images/proces-bg.png');
    --main-bg-enterprice:url('../images/enterprice-bg.png');
}

.dark {
    --main-bg-product:url('../images/product-bg-dark');
    --main-bg-offer: url('../images/offer-bg-dark.png')
    --main-bg-footer: url('../images/footer-bg-white.svg');
    --main-bg-color: #1F2E35;
    --main-text-color: #fff;
    --main-text-line: #474747;
    --main-logo-color: url('../images/logo-white.svg');
    --main-bg-dark :url('../images/bg-dark.png');
    --main-bg-proces: url('../images/proces-bg-dark.png');
    --main-bg-enterprice:url('../images/enterprice-bg-dark.png');
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-bg-color);
}

main {
    flex-grow: 1;
}

img {
    vertical-align: middle;
    object-fit: cover;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.site-header {
    padding: 19px 0;
    
}

.site-header__wrap {
    display: flex;
    align-self: center;
    
}

.logo {
    text-decoration: none;
    display: inline-block;
    display: flex;
    align-items: center;
}

.logo__text {
    background-image: var(--main-logo-color);
    width: 120px;
    height: 24px;
    margin-left: 16px;
}

.sitenav {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sitenav__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.list__item + .list__item{
    margin-left: 24px;
}

.list__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--main-text-color);
}

.list__link--active {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: var(--main-text-color);
}

.buttons {
    margin-left: 24px;
    display: flex;
    align-items: center;
}

.buttons__login {
    text-decoration: none;
    margin-right: 24px;
    padding: 10px 25px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--main-text-color);
}

.buttons__register {
    padding: 10px 25px;
    text-decoration: none;
    margin-right: 30px;
    background: #02897A;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF; 
}

.buttons__dark {
    cursor: pointer;
}

.menu {
    display: none;
}

.hero__inner {
    background-image: url('../images/bgi.png');
    background-repeat: no-repeat;
    background-position: right;
}

.hero__content {
    width: 458px;
    padding: 145px 0 220px ;
}


.content__title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: var(--main-text-color);
}

.content__txt {
    margin: 18px 0 45px ;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--main-text-color);
}

.content__buttons {
    display: flex;
    align-items: center;
    gap: 30px;
}

.content__btn {
    padding: 15px 40px;
    margin: 0;
    text-decoration: none;
    display: inline;
    background: #02897A;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.watch {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 9px;
}

.watch__video {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: none;
    color: #02897A;
    text-decoration: underline;
}





.services {
    padding: 114px 0 90px;
    background-image: var(--main-bg-dark);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.services__inner {
    width: 529px;
    display: block;
    margin: 0 auto;
}

.services__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: var(--main-text-color);
}

.services__list {
    list-style-type: none;
    margin: 66px 0 0 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.services__item {
    width: 100%;
    max-width: 240px;
}

.services__item::before {
    width: 55px;
    height: 60px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}

.services__item:nth-child(1)::before {
    content: "";
    background-image: url('../images/icon-1.svg');
}

.services__item:nth-child(2)::before {
    content: "";
    background-image: url('../images/icon-2.svg');
}

.services__item:nth-child(3)::before {
    content: "";
    background-image: url('../images/icon-3.svg');
}

.services__item:nth-child(4)::before {
    content: "";
    background-image: url('../images/icon-4.svg');
}


.item__title-design {
    margin: 30px 0 13px;
    padding: 0;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: var(--main-text-color);
}

.item__desc {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--main-text-color);
}

.services__button {
    width: 175px;
    display: block;
    margin: 60px auto 0;
    padding: 15px 33px;
    text-decoration: none;
    text-transform: uppercase;
    background: #02897A;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}


.managment {
    padding: 172px 0 167px;
}

.managment__inner {
    display: block;
    margin-bottom: 131px;
}

.managment__desc {
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--main-text-color);
}

.managment__title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: var(--main-text-color);
}

.managment__wrap {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 146px;
}

.managment__wrap:nth-child(3) {
    align-items: center;
    flex-direction: row-reverse;
}

.managment__wrap img {
    display: block;
    margin: 0 auto;
    width: 100%;
    background-size: 540px 474px; 
}

.wrap__left {
    width: 486px;
}

.wrap__title {
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 26px;
    color: var(--main-text-color);
}

.wrap__desc {
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--main-text-color);
}

.left__wrap {
    margin-top: 23px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--main-text-color);
}

.wrap__list {
    list-style: none;
    margin: 0;
    padding: 0;
}



.wrap__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--main-text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrap__link::before {
    width: 50px;
    height: 50px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    content: "";
}

.link__1::before {
    background-image: url('../images/yellow.svg');
}

.link__2::before {
    background-image: url('../images/red.svg');
}

.link__3::before {
    background-image: url('../images/blue.svg');
}


.proces {
    padding: 52px 0 150px;
    background-image: var(--main-bg-proces) ;
    background-repeat: no-repeat;
    background-position:top center;
    background-size: 100%;
}

.proces__inner {
    width: 963px;
    margin: 0 auto;
}

.proces__wrap {
    width: 542px;
    margin: 0 auto;
}

.proces__title {
    margin: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: var(--main-text-color);
}

.proces__desc {
    margin: 0;
    margin: 16px 0 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: var(--main-text-color);
    color: var(--main-text-color);
}


.proces__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.content__item {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 38px;
}

.content__item-two,
.content__item-three 
{
    flex-direction: row-reverse;
}

.content__desc {
    position: relative;
    width: 274px;
    padding: 15px 19px;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
    border-radius: 26.5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2F281E;
}

.content__circle {
    position: absolute;
    bottom: -7px;
    background: #fff;
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
}

.content__item-two .content__circle{
    right: 20px;
}

.content__item-three .content__circle{
    right: 20px;
}

.content__item-four .content__circle{
    right: 20px;
}

.proces__btn {
    margin: 0 auto;
    margin-top: 8px;
    display: block;
    width: 220px;
    background: #02897A;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 15px 31px;
    text-decoration: none;
    color: #FFFFFF;
}

.design__title {
    margin: 0;
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: var(--main-text-color);
}

.design__desc {
    margin: 0;
    margin: 8px 0 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: var(--main-text-color);
}

.item__wrap {
    padding: 0 30px 40px 24px;
}

.design__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.design__item {
    width: 348px;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

.item__author {
    margin: 0;
    margin: 24px 0 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #22343D;
}

.item__title {
    cursor: pointer;
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #22343D;
    transition: all .4s ease;
}

.item__title:hover {
    color: #02897A;
}

.content__prev {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 64px;
}

.prev__line {
    width: 16px;
    height: 16px;
    background: #EFEFEF;
    border-radius: 50%;
    margin:0 10px;
}

.prev__line:nth-child(2) {
    background: #02897A;
}


.table {
    padding: 110px 0;
}

.table__wrap {
    width: 100%;
    max-width: 700px;
    display: block;
    margin: 0 auto;
}

.table__text {
    text-align: center;
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: var(--main-text-color);
}

.table__title {
    margin: 0;
    font-weight: 700;
    font-size: 34px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--main-text-color);
}

.table__desc {
    margin: 0;
    margin: 8px 0 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--main-text-color);
}

.table__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__wrap {
    padding: 24px 74px 32px 74px;
    text-align: center;
    width: 322.65px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    cursor: pointer;
    transition: all .4s ease;
}

.card__wrap:hover {
    background: #02897A;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.card__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: #22343D;
}

.card__desc {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #22343D;
}

.card__price {
    display: flex;
    align-items: center;
}

.price__number {
    margin: 0;
    margin-right: 8px;
    font-weight: 700;
    font-size: 76px;
    line-height: 100px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #02897A;
}

.price__dollar {
    text-align: left;
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.1px;
    color: #02897A;
}

.price__month {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1px;
    color: #AFAFAF;
}

.card__service {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: #22343D;
}

.card__link {
    margin-top: 38px;
    display: inline-block;
    background: #02897A;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    padding: 11px 18px;
    color: #FFFFFF;
}

.card__wrap:hover .card__link{
    color: #02897A;
    background: #FFFFFF;
}

.card__wrap:hover
.card__title{
    color: #fff;
}
.card__wrap:hover
.card__desc{
    color: #fff;
}
.card__wrap:hover
.price__number{
    color: #fff;
}
.card__wrap:hover
.price__dollar{
    color: #fff;
}
.card__wrap:hover
.card__service{
    color: #fff;
}
.card__wrap:hover
.price__month{
    color: #fff;
}


.client__inner {
    width: 537px;
    margin: 0 auto;
}

.client__title {
    margin: 0;
    text-align: center;
    font-weight: 700;
    font-size: 34px;
    line-height: 57px;
    letter-spacing: 0.2px;
    color: var(--main-text-color);
}

.client__desc {
    margin: 0;
    margin: 8px 0 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--main-text-color);
}

.card__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.card__item {
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
    width: 327px;
    padding: 28px 26px 26px 26px;
}

.card__item-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
}

.card__user {
    display: flex;
    align-self: center;
}

.user__info {
    margin-left: 14px;
}

.user__name {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #02897A;
}

.user__seo {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
}


.aside__inner {
    padding: 50px 36px 50px 50px;
    width: 968px;
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 150px;
    background: #02897A;
    border-radius: 32px;
    background-image: url('../images/aside.png');
    background-repeat: no-repeat;
    background-position: right center;
    height: 351px;
    position: relative;
}


.aside__wrap {
    width: 510px;
}

.aside__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 151.4%;
    color: #FFFFFF;
}

.aside__link {
    background: #FFFFFF;
    border-radius: 8px;
    padding: 11px 34px;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #02897A;
    text-decoration: none;
}


.footer__list {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    margin-bottom: 37px;
    list-style-type: none;
}

.footer__item {
    width: 280px;
}

.footer__icons {
    margin-top: 24px;
}

.footer__img + .footer__img {
    margin-left: 16px;
}

.links__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--main-text-color);
}

.links__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.links__btn {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    color: var(--main-text-color);
}

.footer__forms {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--main-text-color);
}

input {
    padding: 10px 5px;
    width: 325px;
    margin-bottom: 21px;
    outline: none;
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
}

.footer__button {
    padding: 8px 15px;
    display: inline-block;
    text-decoration: none;
    background: #02897A;
    border-color: transparent;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.footer__bottom {
    margin: 37px 0 46px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: var(--main-text-color);
    /* display: block; */
    text-align: center;
}

.footer__logo {
    background-image: var(--main-bg-footer);
    background-position: center;
    background-size: cover;
    width: 162px;
    height: 30px;
    z-index: 55;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) { 
    
    /* Retina-specific stuff here */
    
    .aside__inner {
        background-image: url('../images/aside@2x.png');
    }
    
    .hero__inner {
        background-image: url('../images/bgi@2x.png');
    }
    
}



/********* Pricing html  **************/

.aside__inner-pricing {
    margin-top: 460px;
}

.enterprice {
    background-image: var(--main-bg-enterprice);
    background-size: 100% 452px;
    background-repeat: no-repeat;
    padding: 53px 0;
    background-position: center;
}

.enterprice__inner {
    width: 100%;
    max-width: 802px;
    margin: 0 auto;
}

.enterprice__text {
    text-align: center;
    margin: 0;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: var(--main-text-color);
}

.enterprice__title {
    margin: 0;
    margin: 16px 0 8px;
    text-align: center;
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: var(--main-text-color);
}

.enterprice__desc {
    margin: 0;
    margin-bottom: 32px;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: var(--main-text-color);
}

.enterprice__link {
    padding: 11px 18px;
    margin: 0 auto;
    text-decoration: none;
    display: block;
    width: 100%;
    max-width: 224px;
    text-align: center;
    background: #02897A;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.product-service {
    padding: 150px 0;
}

.product-service__inner {
    margin: 0 auto;
    margin-bottom: 80px;
}

.product-service__title {
    margin: 0;
    text-align: center;
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: var(--main-text-color);
}

.product-service__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.effects__right {
    margin-left: 63px;
}

.effects__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.effects__item + .effects__item{
    margin-top: 32px;
    width: 100%;
    max-width: 543px;
}

.effects__item-title {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--main-text-color);
}

.effects__item-title::before {
    content: "";
    width: 50px;
    height: 50px;
    background-image: url('../images/p-service-1.svg');
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 14px;
}

.account::before {
    background-image: url('../images/p-service-2.svg');
}

.univer::before {
    background-image: url('../images/p-service-3.svg');
}

.effects__item-desc {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: var(--main-text-color);
}

.question__inner {
    margin: 0 auto;
}

.question__title {
    margin: 0;
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    text-align: center;
    color: var(--main-text-color);
}

.question__desc {
    margin: 0;
    margin: 8px 0 50px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: var(--main-text-color);
}

.question__wrap {
    width: 100%;
    max-width: 920px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.dropdown__list {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style-type: none;
    position: absolute;
    z-index: 999;
    max-height: 390px;
    overflow: auto;
}

.dropdown__item + .dropdown__item {
    margin-top: 17px;
}

.dropdown__item-line {
    display: block;
    margin-top: 20px;
    width: 100%;
    max-width: 920px;
    height: 0px;
    border: 1px solid;
    border-color: var(--main-text-line);
}

.drop__none {
    display: none;
}

label {
    cursor: pointer;
}

.dropdown__label {
    position: relative;
}

.label__input {
    transition: all 1s ease;
}

.label__title {
    margin: 0;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: var(--main-text-color);
}

.label__title::before {
    margin-right: 16px;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url('../images/plus_circle.svg');
    background-position: center;
    display: block;
}

.label__desc {
    margin: 0;
    margin-top: 14px;
    display: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--main-text-color);
}


.label__input:checked ~ .label__desc {
    display: block;
}

.two:checked ~ .dropdown__label > .one__desc {
    display: none;
}

.label__input:checked ~ .label__title::before {
    transition: all .4s ease;
    margin-right: 16px;
    content: "";
    width: 24px;
    height: 24px;
    background-image: url('../images/minus_circle.svg');
    background-position: center;
    display: block;
}



/************ Curtomers html ************/

.custom__client-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    text-align: center;
    color: var(--main-text-color);
}

.custom__client-list {
    margin: 0 auto;
    padding: 0;
    max-width: 350px;   
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(2, 165px);
    grid-template-rows: repeat(2, 1fr);
    text-align: start;
    justify-content: space-between;
    gap: 30px; 
}

.custom__client-link:nth-child(2) {
    text-align: end;
}

.custom__client-link:nth-child(4) {
    text-align: end;
}

.services {
    margin-top: 81px;
    padding: 24px 0 61px;
    background-image: var(--main-bg-product);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.services__list-custom {
    margin: 66px 0 0 0;
    grid-template-columns: repeat(1, 350px) !important;
    grid-template-rows: repeat(3, 1fr) !important;
    gap: 35px;
}

.services__item-custom {
    padding: 33px 36px;
    border: 1px solid #DEDEDE;
    border-radius: 10px;
    max-width: 350px;
}

.services__title-custom {
    max-width: 361px;
}

.work {
    padding: 96px 0 70px;
}

.work__inner {
    margin: 0 auto;
}

.work__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: var(--main-text-color);
}

.work__list {
    max-width: 360px;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

.work__item + .work__item {
    margin-top: 70px;
}



.item-custom__step {
    display: block;
    margin: 80px 0 16px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--main-text-color);
}

.item-custom__title {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: var(--main-text-color);
}

.itme-custom__desc {
    margin: 0;  
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--main-text-color);
}



.offers {
    padding: 10px 0 100px;
    background-image: var(--main-bg-offer);
    background-repeat: no-repeat;
    background-size: 100%;
}

.offers__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: var(--main-text-color);
}

.offers__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.offers__item {
    text-align: center;
}

.offers__item + .offers__item {
    margin-top: 66px;
}

.offers__item-title {
    margin: 0;
    margin: 35px 0 16px;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: var(--main-text-color);
}

.offers__item-title::before {
    width: 150px;
    height: 150px;
    content: "";
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
    background-image: url('../images/Image\ Placeholder.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.offers__two::before {
    content: "";
    background-image: url('../images/offers-2.svg');
}

.offers__item-desc {
    margin: 0;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: var(--main-text-color);
}

.str {
    font-weight: 700;
}

@media only screen  and (min-width: 992px){
    .custom__client-list {
        justify-content: center;

        display: flex;
        
    }

    .work__list {
        max-width: 1021px;
    }

    .work__item {
        margin-top: 84px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .work__item:nth-child(2) {
        flex-direction: row-reverse;
    }

    .work__wrap {
        max-width: 438px;
    }

    .item-custom__title {
        margin-bottom: 16px;
    }

    .item-custom__step {
        margin: 0;
        margin-bottom: 16px;
    }

    .offers__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 725px;
        margin: 0 auto;
    }

    .offers__item {
        max-width: 300px;
    }

    .offers__item + .offers__item {
        margin-top: 0;
    }
}

@media only screen and (max-width: 400px) {
    .services {
        padding: 24px 0 61px !important;
        background-position: center;
        background-size: 100% 100%;
    }
    
    .custom__client-list {
        grid-template-columns: repeat(1, 165px);
        grid-template-rows: repeat(4, 1fr);
        justify-content: center;
    }
    
    .services__list-custom {
        margin: 66px 0 0 0;
        grid-template-columns: repeat(1, 250px) !important;
        grid-template-rows: repeat(3, 1fr) !important;
        gap: 35px;
    }
    
    .item-custom__img {
        background-repeat: no-repeat;
        background-position: center;
        max-width: 90%;
        display: block;
        margin: 0 auto;
    }
}










/********** Up btn  ************/
.up__btn {
    position: fixed;
    bottom: 35px;
    right: 25px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px #198d91;
    background-color: #fff;
    width: 30px;
    height: 30px;
    border: 1px solid #198d91;
    border-radius: 50%;
    z-index: 999;
}

.dark__light {
    position: fixed;
    bottom: 20px;
    left: 30px;
    z-index: 999;
}

.dark__mode {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: 1px solid #198d91;
    border-radius: 8px;
    box-shadow: 0 0 10px #198d91;
    background-color: #fff;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #000;
}

.light__mode {
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: 1px solid #198d91;
    border-radius: 8px;
    box-shadow: 0 0 10px #198d91;
    background-color: #fff;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #000;
}

.mode__active {
    background: linear-gradient(270deg,#198d92,#29af9f);
    box-shadow: none;
    color: #fff;
    border-color: linear-gradient(270deg,#198d92,#29af9f);
}

.dark__mode > .dark__mode-img {
    width: 20px;
    height: 20px;
    background-image: url('../images/night-mode.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.mode__active > .dark__mode-img {
    background-image: url('../images/night-mode-white.png');
}

.light__mode > .light__mode-img {
    width: 20px;
    height: 20px;
    background-image: url('../images/sun.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.mode__active > .light__mode-img {
    background-image: url('../images/sun-white.png');
}

.up__img {
    width: 12px;
    height: 12px;
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
}






/* ****** START MEDIA QUERY ******* */

@media only screen and (max-width: 576px) {
    .sitenav {
        display: none;
        
    }
    
    .menu {
        margin-left: auto;
        display: block;
    }
    
    .hero__inner {
        padding: 350px 0 0;
        background-position: top 25px center;
        background-size: 338px 310px;
    }
    
    .hero__content {
        width: 100%;
        max-width: 369px;
        margin: 0 auto;
        
    }
    
    .content__title {
        text-align: center;
        font-size: 36px;
    }
    
    .content__txt {
        text-align: center;
    }
    
    .content__buttons {
        justify-content: center;
        gap: 25px;
    }
    
    .content__btn {
        width: 100%;
        max-width: 142px;
        padding: 15px 24px; 
    }
    
    
    .services {
        padding: 0 0 42px;
        
    }
    
    .services__inner {
        width: 100%;
        max-width: 331px;
    }
    
    .services__list {
        list-style-type: none;
        margin: 66px 0 0 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(1, 225px);
        grid-template-rows: repeat(4, 1fr);
        justify-content: center;        
    }
    
    .services__item {
        text-align: center;
    }
    
    .services__item::before {
        width: 100%;
        max-width: 55px;
        height: 60px;
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
    }    
    
    .managment {
        padding: 95px 0 0;
    }
    
    .managment__inner {
        display: block;
        margin-bottom: 16px;
    }
    
    .managment__desc {
        margin-top: 50px;
    }
    
    .managment__wrap { 
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: column-reverse;
        margin-bottom: 97px;
    }
    
    .managment__wrap:nth-child(3) {
        align-items: center;
        flex-direction: column-reverse;
    }
    
    .managment__wrap img {
        display: block;
        margin: 0 auto;
        width: 100%;
        background-size: 352px 320px; 
    }
    
    .wrap__left {
        display: block;
        margin-right: auto;
        width: 100%;
        
    }
    
    .wrap__item {
        margin-bottom: 16px;
    }
    
    .wrap__link::before {
        background-size: contain;
        margin-right: 30px;
    }
    
    .wrap__right {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    
    
    .proces {
        padding: 80px 0 0 ;
    }
    
    .proces__inner {
        width: 100%;
        max-width: 350px;
    }
    
    .proces__wrap {
        width: 100%;
        max-width: 338px;
        margin: 0 auto;
    }
    
    .content__desc {
        width: 100%;
        max-width: 274px;
        padding: 12px 19px;
    }
    
    .proces__content {
        width: 100%;
        width: 350px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(1, 1fr);
    }
    
    .content__item {
        width: 100%;
        max-width: 350px;
        margin-bottom: 30px;
    }
    
    .content__desc {
        position: relative;
        width: 100%;
        width: 237px;
        padding: 12px 19px;
    }
    
    .proces__title {
        font-size: 30px;
        line-height: 46px;
    }
    
    .content__item > img {
        width: 91px;
        height: 91px;
    }
    
    .design__inner {
        padding-top: 100px;
        width: 100%;
        max-width: 348px;
        margin: 0 auto;
    }
    
    .design__list {
        margin: 0 ;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(1, 348px);
        grid-template-rows: repeat(1, 1fr);
        justify-content: center;
    }
    
    .design__item {
        width: 100%;
        max-width: 348px;
        margin-bottom: 16px;
    }
    
    .design__title {
        text-align: center;
        font-size: 28px;
    }
    
    .design__desc {
        text-align: center;
        font-size: 16px;
    }
    
    .content__prev {
        display: none;
    }
    
    
    
    .table__wrap {
        width: 100%;
        max-width: 220px;
    }
    
    .table__content {
        display: grid;
        grid-template-columns: repeat(1, 322px);
        grid-template-rows: repeat(1, 1fr);
        justify-content: center;
    }
    
    .card__wrap {
        margin-bottom: 32px;
        text-align: center;
    }
    
    
    .client__inner {
        width: 100%;
        max-width: 323px;
        margin: 0 auto;
    }
    
    .card__list {
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(1, 327px);
        grid-template-rows: repeat(1, 1fr);
    }
    
    .card__item {
        margin-bottom: 32px;
    }
    
    
    
    .aside__inner {
        padding: 17px 22px 12px 22px;
        width: 100%;
        max-width: 400px;
        height: 600px;
        margin: 0 auto;
        background-position:top 260px  center;
        background-size: contain;
    }
    
    .aside__wrap {
        width: 100%;
        max-width: 328px;
        margin: 0 auto;
    }
    
    .aside__title {
        text-align: center;
        font-size: 25px;
    }
    
    .aside__link {
        display: block;
        margin: 0 auto;
        max-width: 150px;
        border-radius: 8px;
        padding: 11px 34px;
    }
    
    .site-footer {
        padding-top: 100px;
    }
    
    .footer__list {
        display: grid;
        grid-template-columns: repeat(1, 325px);
        grid-template-rows: repeat(1, 1fr);
        justify-content: center;
        text-align: center;
        margin: 0;
        padding: 0;
        margin-bottom: 37px;
        list-style-type: none;
    }
    
    .footer__logo {
        display: block;
        margin: 0 auto;
    }
    
    .footer__item {
        width: 100%;
        width: 325px;
        display: block;
        margin: 0 auto;
        margin-bottom: 32px;
    }
    
    .dark__light {
        position: fixed;
        bottom: 15px;
        left: 9px;
    }
    
    .up__btn {
        bottom: 25px;
        right: 9px;
    }
    
    .table__wrap {
        max-width: 350px;
    }
    
    .table__title {
        font-size: 36px;
        line-height: 54px;
    }
    
    .enterprice {
        padding: 47px 0;
    }
    
    .enterprice__inner {
        max-width: 335px;
    }
    
    .enterprice__title {
        font-size: 32px;
        line-height: 48px;
    }
    
    
    .product-service {
        padding: 100px 0;
    }
    
    .product-service__title {
        font-size: 32px;
        line-height: 48px;
    }
    
    .product-service__wrap {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    
    .effects__left img {
        display: block;
        margin: 0 auto;
        width: 100%;
        background-size: 352px 288px; 
    }
    
    .effects__right {
        margin-left: 0;
        margin-top: 55px;
    }
    
    .effects__item {
        max-width: 333px;
    }
    
    
    .question__title {
        font-size: 34px;
        line-height: 48px;   
    }
    
    .aside__inner-pricing {
        margin-top: 410px;
    }
    
    .dropdown {
        display: flex;
        justify-content: center;
        
    }
    
    .label__title::before {
        background-size: 22px 22px;
        background-repeat: no-repeat;
    }
    
    
    
}


@media only screen and (max-width: 375px) {
    .hero__inner {
        padding: 320px 0 0 0;
        width: 100%;
        background-size: 310px 280px;
    }
    
    .hero__content {
        width: 100%;
        max-width: 344px;
        margin: 0 auto;
        
    }
    
    .content__title {
        text-align: center;
        font-size: 27px;
        line-height: 41px;
    }
    
    .content__txt {
        text-align: center;
    }
    
    .content__buttons {
        justify-content: center;
        gap: 18px;
    }
    
    .content__btn {
        width: 100%;
        max-width: 125px;
        padding: 10px 15px; 
    }
    
    .watch__video {
        font-weight: 600;
        font-size: 13px;
    }
    
    .services {
        padding: 0;
    }
    
    .services__title {
        font-weight: 700;
        font-size: 28px;
        line-height: 41px;
    }
    
    .managment__desc {
        font-size: 11px;
        line-height: 21px;
    }
    
    .managment__title {
        font-size: 28px;
        line-height: 45px;
    }
    
    .proces {
        width: 100%;
        max-width: 350px;
        display: block;
        margin: 0 auto; 
        padding: 52px 0 100px;
        background-image: var(--main-bg-proces) ;
        background-repeat: no-repeat;
        background-position:top center;
        background-size: contain;
    }
    
    .proces__inner {
        width: 100%;
        max-width: 350px;
    }
    
    .proces__content {
        width: 100%;
        width: 280px;
    }
    
    .proces__wrap {
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
    }
    
    .proces__title {
        font-size: 26px;
        line-height: 45px;
    }
    
    
    .content__item > img {
        margin: 0;
        width: 71px;
        height: 71px;
    }
    
    
    .content__desc {
        margin: 0 ;
        position: relative;
        width: 180px;
        padding: 13px 16px;
        font-size: 14px;
        line-height: 22px;
    }
    
    .design__list {
        display: block;
        margin: 0 auto;
    }
    
    .design__item {
        width: 100%;
        max-width: 325px;
        margin-bottom: 16px;
    }
    
    .design__item > img {
        width: 100%;
        max-width: 325px;
    }
    
    .design__title {
        text-align: center;
        font-size: 25px;
    }
    
    .design__desc {
        text-align: center;
        font-size: 16px;
    }
    
    .item__title {
        font-size: 20px;
    }
    
    .item__author {
        font-size: 15px;
    }
    
    .content__prev {
        display: none;
    }
    
    .card__wrap {
        width: 100%;
        width: 300px;
        display: block;
        margin: 0 auto;
        margin-bottom: 32px;
    }
    
    .card__item {
        width: 100%;
        width: 300px;
        display: block;
        margin: 0 auto;
        margin-bottom: 32px;
    }
    
    .client__title {
        font-size: 28px;
    }
    
    
    .aside__inner {
        max-width: 400px;
        height: 500px;
        background-position:top 240px  center;
    }
    
    .aside__wrap {
        width: 100%;
        max-width: 328px;
        margin: 0 auto;
    }
    
    .aside__title {
        text-align: center;
        font-size: 20px;
    }
    
    .aside__link {
        display: block;
        margin: 0 auto;
        max-width: 150px;
        border-radius: 8px;
        padding: 11px 34px;
    }
    
    .aside__inner-pricing {
        margin-top: 405px;
    }
    
    .footer__item {
        width: 100%;
        max-width: 280px;
    }
    
    input {
        width: 100%;
        width: 275px;
    }
    
    
    .footer__bottom {
        font-size: 11px;
    }
    
    
    .table__title {
        font-size: 28px;
        line-height: 55px;
        
    }
    
    .enterprice__title {
        font-size: 26px;
        line-height: 48px;
    }
    
    .question__title {
        font-size: 30px;
        line-height: 46px;   
    }
    
    .label__title {
        font-size: 15px;
        line-height: 25px;
    }
    
    .label__title::before {
        background-size: 18px 18px;
    }
}
/* ****** END MEDIA QUERY ******* */