@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
    url('../fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
    url('../fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}




:root {
    --main-bg-color: #fff ;
    --main-text-color: #22343D;
    --main-logo-color: url('../images/logo-text.svg');
    --main-bg-dark :url('../images/bg-services.png');
}

.dark {
    --main-bg-color: #22343D;
    --main-text-color: #fff;
    --main-logo-color: url('../images/logo-white.svg');
    --main-bg-dark :url('../images/bg-dark.png');
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--main-bg-color);
}

main {
    flex-grow: 1;
}

img {
    vertical-align: middle;
    object-fit: cover;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container {
    width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

.site-header {
    padding: 19px 0;
    
}

.site-header__wrap {
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.logo {
    text-decoration: none;
    display: inline-block;
    display: flex;
    align-items: center;
}

.logo__text {
    background-image: var(--main-logo-color);
    width: 120px;
    height: 24px;
    margin-left: 16px;
}

.sitenav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sitenav__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}

.list__item + .list__item{
    margin-left: 24px;
}

.list__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--main-text-color);
}

.list__link--active {
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: var(--main-text-color);
}

.buttons {
    margin-left: 24px;
    display: flex;
    align-items: center;
}

.buttons__login {
    text-decoration: none;
    margin-right: 24px;
    padding: 10px 25px;
    border: 1px solid #BCD0E5;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--main-text-color);
}

.buttons__register {
    padding: 10px 25px;
    text-decoration: none;
    margin-right: 30px;
    background: #02897A;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF; 
}

.buttons__dark {
    cursor: pointer;
}

.hero__inner {
    height: 555px;
    background-image: url('../images/bgi.png');
    background-repeat: no-repeat;
    background-position: right;
}

.hero__content {
    width: 458px;
    padding: 145px 0 220px ;
}

.content__title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    color: var(--main-text-color);
}

.content__desc {
    margin: 18px 0 45px ;
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: var(--main-text-color);
}

.content__buttons {
    display: flex;
    align-items: center;
    gap: 44.4px;
}

.content__btn {
    padding: 15px 40px;
    margin: 0;
    text-decoration: none;
    display: inline;
    background: #02897A;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
}

.watch {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 9px;
}

.watch__video {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: none;
    color: #02897A;
    text-decoration: underline;
}





.services {
    padding: 114px 0 90px;
    background-image: var(--main-bg-dark);
    background-repeat: no-repeat;
    background-position: bottom;
}

.services__inner {
    width: 529px;
    display: block;
    margin: 0 auto;
}

.services__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: var(--main-text-color);
}

.services__list {
    list-style-type: none;
    margin: 66px 0 0 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}


.services__item {
    width: 240px;
}

.services__item::before {
    width: 55px;
    height: 60px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    
}

.services__item:nth-child(1)::before {
    content: "";
    background-image: url('../images/icon-1.svg');
}

.services__item:nth-child(2)::before {
    content: "";
    background-image: url('../images/icon-2.svg');
}

.services__item:nth-child(3)::before {
    content: "";
    background-image: url('../images/icon-3.svg');
}

.services__item:nth-child(4)::before {
    content: "";
    background-image: url('../images/icon-4.svg');
}


.item__title {
    margin: 30px 0 13px;
    padding: 0;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: var(--main-text-color);
}

.item__desc {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--main-text-color);
}

.services__button {
    width: 175px;
    display: block;
    margin: 60px auto 0;
    padding: 15px 33px;
    text-decoration: none;
    text-transform: uppercase;
    background: #02897A;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}


.managment {
    padding: 172px 0 167px;
}

.managment__inner {
    display: block;
}

.managment__desc {
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: var(--main-text-color);
}

.managment__title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    color: var(--main-text-color);
}

.managment__wrap {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 146px;
}

.managment__wrap:nth-child(3) {
    align-items: center;
    flex-direction: row-reverse;
}

.wrap__left {
    width: 486px;
}

.wrap__title {
    margin: 0;
    padding: 0;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 26px;
    color: var(--main-text-color);
}

.wrap__desc {
    margin: 0;
    padding: 0;
    padding-bottom: 25px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--main-text-color);
}

.left__wrap {
    margin-top: 23px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--main-text-color);
}

.wrap__list {
    list-style: none;
    margin: 0;
    padding: 0;
}



.wrap__link {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: var(--main-text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrap__link::before {
    width: 50px;
    height: 50px;
    
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    content: "";
}

.link__1::before {
    background-image: url('../images/yellow.svg');
}

.link__2::before {
    background-image: url('../images/red.svg');
}

.link__3::before {
    background-image: url('../images/blue.svg');
}


.proces {
    padding: 52px 0 150px;
    background-image: url('../images/proces-bg.png');
    background-repeat: no-repeat;
    background-position:top center;
    background-size: 100%;
}

.proces__inner {
    width: 963px;
    margin: 0 auto;
}

.proces__wrap {
    width: 542px;
    margin: 0 auto;
}

.proces__title {
    margin: 0;
    font-weight: 700;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    color: var(--main-text-color);
}

.proces__desc {
    margin: 0;
    margin: 16px 0 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #22343D;
    color: var(--main-text-color);
}


.proces__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.content__item {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 400px;
    margin-bottom: 38px;
}

.content__item-two,
.content__item-three 
{
    flex-direction: row-reverse;
}

.content__desc {
    position: relative;
    width: 274px;
    padding: 15px 19px;
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
    border-radius: 26.5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2F281E;
}

.content__circle {
    position: absolute;
    bottom: -7px;
    background: #fff;
    display: block;
    width: 17px;
    height: 17px;
    border-radius: 50%;
}

.content__item-two .content__circle{
    right: 20px;
}

.content__item-three .content__circle{
    right: 20px;
}

.content__item-four .content__circle{
    right: 20px;
}

.proces__btn {
    margin: 0 auto;
    margin-top: 8px;
    display: block;
    width: 220px;
    background: #02897A;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    padding: 15px 31px;
    text-decoration: none;
    color: #FFFFFF;
}



.design {
    
}

.design__title {
    margin: 0;
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
    color: var(--main-text-color);
}

.design__desc {
    margin: 0;
    margin: 8px 0 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: var(--main-text-color);
}

.item__wrap {
    padding: 0 30px 40px 24px;
}

.design__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.design__item {
    width: 348px;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}

.item__author {
    margin: 0;
    margin: 24px 0 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--main-text-color);
}

.item__title {
    cursor: pointer;
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: var(--main-text-color);
    transition: all .4s ease;
}

.item__title:hover {
    color: #02897A;
}

.content__prev {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 64px;
}

.prev__line {
    width: 16px;
    height: 16px;
    background: #EFEFEF;
    border-radius: 50%;
    margin:0 10px;
}

.prev__line:nth-child(2) {
    background: #02897A;
}


.table {
    padding: 150px 0;
}

.table__wrap {
    width: 537px;
    display: block;
    margin: 0 auto;
}

.table__title {
    margin: 0;
    font-weight: 700;
    font-size: 34px;
    line-height: 57px;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--main-text-color);
}

.table__desc {
    margin: 0;
    margin: 8px 0 50px;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: var(--main-text-color);
}

.table__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card__wrap {
    padding: 24px 74px 32px 74px;
    text-align: center;
    width: 322.65px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    cursor: pointer;
    transition: all .4s ease;
}

.card__wrap:hover {
    background: #02897A;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
}

.card__title {
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    color: var(--main-text-color);
}

.card__desc {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: var(--main-text-color);
}

.card__price {
    display: flex;
    align-items: center;
}

.price__number {
    margin: 0;
    margin-right: 8px;
    font-weight: 700;
    font-size: 76px;
    line-height: 100px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #02897A;
}

.price__dollar {
    text-align: left;
    margin: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.1px;
    color: #02897A;
}

.price__month {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1px;
    color: #AFAFAF;
}

.card__service {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.2px;
    color: var(--main-text-color);
}

.card__link {
    margin-top: 38px;
    display: inline-block;
    background: #02897A;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    padding: 11px 18px;
    color: #FFFFFF;
}

.card__wrap:hover .card__link{
    color: #02897A;
    background: #FFFFFF;
}

.card__wrap:hover
.card__title{
    color: #fff;
}
.card__wrap:hover
.card__desc{
    color: #fff;
}
.card__wrap:hover
.price__number{
    color: #fff;
}
.card__wrap:hover
.price__dollar{
    color: #fff;
}
.card__wrap:hover
.card__service{
    color: #fff;
}
.card__wrap:hover
.price__month{
    color: #fff;
}